.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home {
    flex: 1 0 auto;
    z-index: 10;
    height: max-content;
}

.footer {
    background-color: rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
    text-align: center;
}

.nav-link {
    color: inherit;
}

.particles-bg-canvas-self {
    position: fixed;
}

.main-container.dark {
    background-color: #121212;
    color: white;
}

.dark .footer {
    background-color: rgba(255, 255, 255, 0.1);
}
